.spells-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.spells-title {
  font-family: "Cinzel", serif;
  color: #e1b12c;
  text-align: center;
}

.error,
.loading {
  color: #e1b12c;
  text-align: center;
  margin-top: 50px;
}
