.wizard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wizards-title {
  font-family: "Cinzel", serif;
  color: #e1b12c;
  text-align: center;
  font-size: 36px;
}

.error,
.loading {
  color: #e1b12c;
  text-align: center;
  margin-top: 50px;
}

.main-container {
  display: flex;
  justify-content: center;
}

.sum-box {
  position: absolute;
  right: 100px;
}

.main-wizards {
  text-align: center;
}

.search {
  border: 1px solid #e1b12c;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color:  black;
  background-color: rgb(175, 175, 175);
  padding: 10px;
  margin: 0 5px 20px 5px;
  text-decoration: none;
}

